@page "{id:int?}"
@model DemoUniversity.Pages.Instructors.IndexModel

@{
    ViewData["Title"] = "Instructors";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructor.Instructors)
        {
            string selectedRow = "";
            if (item.InstructorID == Model.InstructorID)
            {
                selectedRow = "success";
            }

            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    <ul>
                        @foreach (var course in item.CourseAssignments)
                        {
                            <li>
                                @course.Course.CourseID :  @course.Course.Title <br />
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.InstructorID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.InstructorID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.InstructorID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.InstructorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Instructor.Courses != null)
{
    <h3>Courses Taught by selected instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Instructor.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == Model.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @*<a asp-page="./Index" asp-route-id="@item.CourseID"> Select </a>*@
                    @Html.ActionLink("Select","OnGetAsync",new{courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.Instructor.Enrollments != null)
{
    <h3>Students enrolled in selected Course</h3>
    <table class="table">
        <tr>
            <th> Name </th>
            <th> Grade </th>
        </tr>
        @foreach (var item in Model.Instructor.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}
